[submodule "emacs.d.candidate"]
        path = emacs.d.candidate
        url = https://github.com/vkz/emacs.git
[submodule "spacemacs-layers"]
	path = spacemacs-layers
	url = https://github.com/vkz/spacemacs-layers.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:vkz/emacs.git
